.register {
    height: 100%;
    background: #ecf0f1;
    .userRegisterBasic {
        margin-bottom: 30px;
    }
    .alreadyFilled {
        position: absolute;
        width: 600px;
        left: 50%;
        margin-left: -300px;
        text-align: center;
        color: #bdc3c7;
    }
}