.myGroupDetailContainer {
    height: fit-content;
    background-color: rgba(245, 246, 250,1.0);
    .groupDetailBanner {
        width: 100%;
        overflow: hidden;
        // border: solid 4px red;
        .bannerContainer {
            position: relative;
            width: 100%;
            height: 420px;
            object-fit: cover;
        }
    }
    .basicInfomations {
        border: solid 4px red;
        width: 98%;
        height: fit-content;
        padding-bottom: 100px;
        background: rgba(255, 255, 255,0.6);
        position: relative;
        margin-top: -30px;
        border-radius: 20px;
        border: solid 1px rgba(44, 62, 80,0.3);
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0,0.2);
        left: 50%;
        margin-left: -49%;
        .groupDetailName {
            // border: solid 4px royalblue;
            width: 660px;
            height: fit-content;
            position: relative;
            left: 50%;
            margin-left: -330px;
            margin-top: 40px;
            font-size: 50px;
            font-weight: 800;
            color: rgba(119, 140, 163,1.0);
        }
        .groupDetailOthers {
            // border: solid 4px royalblue;
            width: 660px;
            height: 240px;
            position: relative;
            left: 50%;
            margin-left: -330px;
            margin-top: 20px;
            background-color: rgba(245, 246, 250,1.0);

            border-radius: 20px;
            display: flex;
            .leftContainer {
                // border: solid 1px red;
                display: flex;
                position: relative;
                width: 50%;
                box-sizing: border-box;
                flex-direction: column;
                align-items: center;
                .iconFontLeftTop{
                    position: absolute;
                    top: 40px;
                    left: 30px;
                }
                .iconFontLeftBtm {
                    position: absolute;
                    bottom: 40px;
                    left: 30px;
                }
                .tagName {
                    // border: solid 1px red;
                    position: relative;
                    margin-bottom: 50px;
                    margin-left: 30px;
                    margin-top: 20px;
                    font-size: 30px;
                    font-weight: 600;
                }
                .groupCreatorName {
                    position: absolute;
                    top: 70px;
                }
                .groupCreatorId {
                    position: absolute;
                    bottom: 30px;
                }
            }
            .rightContainer {
                // border: solid 1px red;
                display: flex;
                position: relative;
                width: 50%;
                box-sizing: border-box;
                flex-direction: column;
                align-items: center;
                .iconFontRight {
                    position: absolute;
                    margin: auto 0;
                    top: 30px;
                }
                .tagNameRight {
                    position: relative;
                    top: 100px;
                    font-weight: 600;
                }
                .groupCreateTime {
                    position: absolute;
                    bottom: 60px;
                }
            }
        }
        .groupAdmins {
            // border: solid 1px red;
            position: relative;
            width: 660px;
            height: 200px;
            left: 50%;
            margin-left: -330px;
            margin-top: 20px;
            background-color: rgba(245, 246, 250,1.0);
            font-size: 32px;
            border-radius: 20px;
            .tagNameBtm {
                position: absolute;
                top: 20px;
                left: 30px;
                font-weight: 600;
                font-weight: 600;
            }
            .groupAdminsContainer {
                position: absolute;
                height: 100px;
                top: 80px;
                left: 30px;
            }
        }
        .groupMembers {
            // border: solid 1px red;
            position: relative;
            width: 660px;
            height: 200px;
            left: 50%;
            margin-left: -330px;
            margin-top: 20px;
            background-color: rgba(245, 246, 250,1.0);
            font-size: 32px;
            border-radius: 20px;
            .tagNameBtm {
                position: absolute;
                top: 20px;
                left: 30px;
                font-weight: 600;
            }
            .groupMembersContainer {
                position: absolute;
                height: 100px;
                top: 80px;
                left: 30px;
            }
        }
        .groupAdminsAuthority {
            // border: solid 1px red;
            position: relative;
            width: 660px;
            height: 80px;
            left: 50%;
            margin-left: -330px;
            margin-top: 20px;
            background-color: #ecf0f1;
            font-size: 32px;
        }
        
        .fabContainer {
            // border: solid 3px royalblue;
            position: fixed;
            right: 30px;
            bottom: 30px;
        }
        // rgba(255, 255, 255,1.0)
        // rgba(245, 246, 250,1.0)
        
        .addAdmins {
            background-color: rgba(255, 255, 255,1.0);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .getFriendCode {
                position: relative;
                // border: solid 2px royalblue;
                border-radius: 20px;
                height: 120px;
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 60px;
                .viewCode .friendCode {
                    height: 50px;
                    width: 90%;
                    display: flex;
        
                    align-items: center;
                    justify-content: center;
                }
                .viewCode {
                    font-size: 36px;
                    font-weight: 600;
                }
    
            }
            .addAdminId {
                position: relative;
                // border: solid 2px royalblue;
                border-radius: 20px;
                height: 200px;
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 100px;
                .adminId .userIdIpt {
                    height: 50px;
                    width: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .adminId {
                    font-size: 36px;
                    font-weight: 600;
                }
            }
            .submitBtn {
                position: fixed;
                bottom: 30px;
            }
        }
    }

}
