.joinChannel {
    height: 100%;
    position: relative;
    background-color: #f1f2f6;
    .iptCode {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}