.setUp {
  position: relative;
  width: 100%;
  .listTitle {
    position: absolute;
    top: 20px;
    width: 100%;

  }
  .btnBottom{
    position: absolute;
    width: 480px;
    top: 1250px;
    left: 50%;
    margin-left: -240px;
    background-color:rgba(55, 66, 250,1.0);
    color: #ffffff;
    border-radius: 3%;
    border: 0;
    
  }
  .copyrightBottom {
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    top: 1350px;
    text-align: center;
    color: #bdc3c7;
  }
}